---
import Card from "./Card/index.astro";
import { SITE } from "../site-config";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About the lab">
  <div class="flex flex-col gap-2">
    <p class="sr-only">
      Hi, I'm {SITE.author.firstName}, a homelab enthusiast from {SITE.location.countryName}.
      I run a Proxmox homelab with UniFi networking, self-hosted services, and
      enjoy documenting my infrastructure journey.
    </p>
    <div aria-hidden="true" class="text-sm font-light">
      <p class="text-sm font-light">
        Hi, I'm {SITE.author.firstName}, a homelab enthusiast from {SITE.location.countryName}.
      </p>
      <br />
      Core systems:
      <ul class="list-disc list-inside">
        <li>Proxmox VE</li>
        <li>UniFi Networking</li>
        <li>Docker & LXC containers</li>
        <li>Plex Media Server</li>
        <li>Nginx Proxy Manager</li>
        <li>ControlD DNS filtering</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      This site is a working notebook: setup references, network decisions,
      hardware costs, and fixes I want searchable later.
    </p>
  </div>
</Card>
