---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    What I run in the homelab:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li><strong>Proxmox VE</strong></li>
    <li><strong>UniFi</strong> networking</li>
    <li><strong>Docker</strong> & LXC</li>
    <li><strong>Plex</strong> media server</li>
  </ul>
</Card>
